@font-face {
  font-family: Gilroy12;
  src: url("Gilroy-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.hello {
  background-color: #faecff;
  background-image: url("background.png");
  background-size: 16px;
  background-blend-mode: soft-light;
  color: #3e2f80;
  font-family: Gilroy12;
}

.image {
  display: block;
  max-width: clamp(100px, 10rem, 200px);
}
